:root {
    --opacityImg1: 1;
    --opacityImg2: 1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    margin: 0 0;
    overflow-x:hidden;
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

footer {
    color: #767676;
    font-size:small;
    margin-top:2em;
}

.slider-container {
    position: relative;
    top: 0;
    left: 0;
}

img {
    width: auto;
    height: 90vh;
}

.img6 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: var(--opacityImg6);
}

.img5 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: var(--opacityImg5);
}

.range {
    -webkit-appearance: none;
    appearance: none;  
    position: absolute;
    top: 420px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #dddddd;
    opacity: 1;
    border-radius: 30px;
    height: 0.8vh;
    width: 300px;
    max-height: 10px;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    cursor: pointer;
    background: #000;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}  

.range:hover::-webkit-slider-thumb {
    background: #182852;
}  
